<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiKey</key>
	<string>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</string>
</dict>
</plist>
