<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiKey</key>
	<string>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</string>
</dict>
</plist>
